/* Small Screens */
h1 {
    padding-left: 2rem;
}

.content {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}

.content p {
    margin: 0 2rem;
}

.thumbnail-container {
    margin: auto;
    padding: 0 2rem;
}

.thumbnail {
    width: 100%;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 20px 2rem;
}

.details-item {
    flex: 0 1 auto;
    padding: 0 2rem;
    margin-bottom: 20px;
    background-color: aliceblue;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.details-item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.details-item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.details-item ul {
    list-style: none;
    padding: 0;
}

/* Medium Screens */
@media only screen and (min-width: 768px) {
    .details-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .details-item {
        width: unset;
        margin-right: 1rem;
        flex-grow: 1;
    }

    .details-item:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: unset;
        border-bottom-left-radius: 20px;
    }

    .details-item:last-child {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    .thumbnail-container {
        margin: 0;
    }

    .thumbnail {
        max-height: 800px;
        max-width: 800px
    }

}